@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto+Mono&display=swap');
/* Login/Register */

.site-green {
    background-color: #659F41 !important;
}

.green {
    color: #659F41 !important;
}

.interaction {
    font-weight: 500;
}

#site-name {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #659F41 !important;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

#site-content {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 500;
}

.titles {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.interaction {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
}

.footer-offset {
    margin-bottom: 320px !important;
}

.v-input__slot,
#search {
    height: 40px !important;
    /* height: 15px !important; */
}

.nav {
    height: 100% !important;
    width: 100%;
    margin-top: 5px;
    margin-right: 10px;
}

a,
router-link {
    text-decoration: none;
    color: unset;
}

.reset {
    background-color: #000;
    color: #fff !important;
}

#login {
    background-color: #EBEBEB;
    font-size: 14px;
    border-radius: 25px;
    width: 85px !important;
    padding: 20px;
}

#signup {
    background-color: #528235;
    color: #fff !important;
    border-radius: 25px;
    padding: 20px;
}

#logout {
    background-color: #26547C;
    color: #fff !important;
    border-radius: 25px;
    height: 40px !important;
}

.delete {
    background-color: #b31825;
    color: #fff !important;
    height: 45px !important;
    justify-content: flex-end !important;
}

.cancel {
    height: 45px !important;
    justify-content: flex-end !important;
}

.signup,
.login,
.reset,
.save {
    height: 45px !important;
    margin-top: 10px;
    width: 25%;
}

@media screen and (max-width: 600px) {

    .signup,
    .login,
    .reset {
        width: 100%;
    }
}

#login-sm {
    background-color: #EBEBEB;
    border-radius: 25px;
    height: 45px !important;
    width: 100%;
    margin-top: 10px;
}

#signup-sm {
    background-color: #528235;
    color: #fff !important;
    border-radius: 25px;
    height: 45px !important;
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
}

#logout-sm {
    background-color: #26547C;
    color: #fff !important;
    border-radius: 25px;
    height: 45px !important;
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
}

v-btn {
    text-transform: none;
}

.v-btn:before,
.v-btn:active {
    font-weight: bold !important;
    /* background-color: currentColor; */
}

.gradient {
    color: #fff;
    background-color: #528235;
    background-image: linear-gradient(to left, #82A6B1, #528235);
}

/* Item */

.v-card {
    /* padding-block: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100px;
    min-width: 55px;
    border: #000;
}

.item-title {
    text-transform: capitalize;
    color: #0B090A !important;
}

.item-title {
    height: 50px;
}

v-img {
    max-width: auto;
    /* height: 100px !important; */
}

p {
    text-align: left;
}

.mainItemTitle {
    vertical-align: middle;
}